/*================================================General rules===========================================*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

/*================================================General rules===========================================*/



/*================================================Header rules===========================================*/
.header {
    background-image: url(../img/logo_header1.png);
    min-height: 985px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteiner {
    display: flex;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding-top: 16px;
}

.nav_bar {
    display: flex;
    padding-left: 212px;
    align-items: center;
}

.menu {
    display: flex;
    margin-right: 28px;

}

.nav_button {
    font-family: "Nunito Sans", sans-serif;
    margin-right: 28px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.55px;
    text-align: left;
    color: #FDFDFD;
    white-space: nowrap;

}

.nav_button a {
    color: #FDFDFD;
}

.nav_button:hover {
    color: #F2BE22;
    transition: 0.2s ease-in;
}

.nav_button li,
a {
    list-style: none;
    text-decoration: none;
}

.button {
    font-family: "Nunito Sans", sans-serif;
    width: 157px;
    height: 44px;
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
    background-color: #1A3E3E;
    border: none;
    color: #FDFDFD;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.012em;
    text-align: left;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #1A3E3E;
    border: 1px solid #1A3E3E;
    transition: all .3s;
}

.header_text {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 416px;
}

.text {
    font-family: "NEXT ART_Bold";
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FDFDFD;
    max-width: 1080px;
    margin-bottom: 41px;
}

.form_header {
    max-width: 1180px;
    height: 161px;
    background: #FFFFFF33;
    margin: 0 auto;
    border-radius: 10px;
}

.location {
    display: flex;
    max-width: 1095px;
    margin: 0 auto;
    padding-top: 40px;
    justify-content: space-between;
}

.location_header {
    width: 270px;
    height: 52px;
    background-color: rgb(0, 0, 0, 0);
    border: 1px solid #E1E3E4;
    border-radius: 8px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #FDFDFD;
    position: relative;
    padding-left: 12px;
    padding-bottom: 2px;
    cursor: pointer;

}

.text_button {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #FDFDFD;
    float: right;
    margin: 0 auto;
    position: absolute;
    padding-top: 59px;
    padding-left: 8px;

}

.date_form {
    display: flex;

}

.text_top {
    display: flex;


}

.date_time {
    width: 270px;
    height: 52px;
    background-color: rgb(0, 0, 0, 0);
    border: 1px solid #E1E3E4;
    border-radius: 8px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FDFDFD;
    position: relative;
    padding-left: 16px;
    padding-bottom: 4px;

}

.date_text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #FDFDFD;
    position: absolute;
    padding-top: 59px;
    padding-left: 8px;
}

.text_peaple {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #FDFDFD;
    position: absolute;
    padding-top: 59px;
    padding-left: 8px;

}

.button_top_header {
    width: 213px;
    height: 52px;
    border-radius: 4px;
    background-color: #FDFDFD;
    color: #1A3E3E;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1, 2%;
    padding: 16px, 36px, 16px, 36px;
    border: none;
    cursor: pointer;

}

.button_top_header:hover {
    background-color: #1A3E3E;
    color: #E1E3E4;
    border: 1px solid #E1E3E4;
    transition: all .3s;

}

.location_header_1 {
    width: 270px;
    height: 52px;
    background-color: rgb(0, 0, 0, 0);
    border: 1px solid #E1E3E4;
    border-radius: 8px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FDFDFD;
    position: relative;
    padding-left: 11px;
    padding-bottom: 3px;
    cursor: pointer;
}

/*================================================Header rules=========================================*/





/*================================================Main rules=========================================*/

/*================================================1 block=========================================*/
.main {
    max-width: 1180px;
    min-height: 726px;
    margin: 0 auto;

}

.conteiner_main {
    display: flex;
    padding-top: 100px;

}

.foto_main {
    width: 350px;
    height: 400px;
}

.text_main {
    padding-left: 250px;
    padding-top: 42px;
}

.content_mein {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #F2BE22;
    margin-bottom: 3px;



}

.title_main {
    font-family: "Nunito Sans", sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    text-align: left;
    color: #18121E;
    margin-top: 10px;
    margin-bottom: 36px;

}

.text_content {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #18121E;
    margin-bottom: 39px;


}

.button_main {
    width: 200px;
    height: 52px;
    font-family: "Nunito Sans", sans-serif;
    color: #FDFDFD;
    background-color: #1A3E3E;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.012em;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.button_main:hover {
    background-color: white;
    color: #1A3E3E;
    border: 1px solid #1A3E3E;
    transition: all .3s;
}

.foto_1 {
    position: absolute;
}

.foto_2 {
    position: relative;
    padding-top: 126px;
    padding-left: 130px;
    padding-bottom: 100px;
}

/*===========================================---1 block===========================================*/

/*===========================================---2 block===========================================*/
.main_content {
    min-height: 771px;
    margin: 0 auto;
    background-color: #F3F5F4;
}

.content_main_text_top {
    max-width: 1180px;
    margin: 0 auto;
}

.main_conteiner_text {
    max-width: 580px;
    height: 591px;
    padding-top: 55px;
}

.content_title_text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #F2BE22;
    margin-bottom: 12px;

}

.content_main_title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    text-align: left;
    color: #18121E;
    margin-top: 13px;

}

.text_content_main {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #18121E;
    padding-bottom: 26px;
    margin-top: 37px;
    margin-bottom: 4px;

}

.icons-item1 {
    display: flex;
}

.icon_item {
    padding-left: 16px;

}

.title-icon1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.012em;
    text-align: left;
    color: #18121E;
    margin-top: 9px;
    margin-bottom: 5px;
}

.icon1 {
    width: 50px;
    height: 50px;
}

.text_icon1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #000000;
    margin-bottom: 41px;
    margin-top: 0px;

}

.title-icon2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.012em;
    text-align: left;
    color: #18121E;
    margin-top: 0px;
    margin-bottom: 5px;
}

.icon2 {
    width: 50px;
    height: 50px;
}

.text_icon2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #000000;
    margin-bottom: 38px;
    margin-top: 0px;

}

.title-icon3 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.012em;
    text-align: left;
    color: #18121E;
    margin-top: 0px;
    margin-bottom: 5px;
}

.icon3 {
    width: 50px;
    height: 50px;
}

.text_icon3 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #000000;
    margin-bottom: 38px;
    margin-top: 0px;

}

.icons-item2 {
    display: flex;
}

.icon_item2 {
    padding-left: 16px;

}

.icons-item3 {
    display: flex;
}

.icon_item3 {
    padding-left: 16px;

}

.button_text_main {
    width: 236px;
    height: 52px;
    padding: 16px 36px 16px 36px;
    border-radius: 4px;
    border: none;
    background-color: #1A3E3E;
    color: #FDFDFD;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;


}

.button_text_main:hover {
    background-color: white;
    color: #1A3E3E;
    border: 1px solid #1A3E3E;
    transition: 0.4s ease;
}

.galerea_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    float: right;
    padding-top: 120px;
    gap: 10px;

}

/*===========================================---2 block===========================================*/

/*================================================3 block===========================================*/

.content_card {
    margin: 0 auto;
}

.card-main {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 70px;

}

.card {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    color: #F2BE22;
    margin-top: 10px;
    margin-bottom: 0px;

}

.card-title {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    color: #18121E;
    margin-top: 10px;
    margin-bottom: 48px;

}

.pic1 {
    display: flex;
    justify-content: space-between;
}

.card1 {
    position: relative;
    cursor: pointer;
    width: 380px;
}

.card-pic1 {
    display: block;

}

.card_text {
    width: 100%;
    height: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

}

.cards1 {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 2s ease-in-out;
    border-radius: 32px;
    height: 90px;
    backdrop-filter: blur(6px);

}

.text-card {
    padding-left: 32px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    color: #FDFDFD;
    margin-top: 19px;
    margin-bottom: 0px;


}

.text-pic1 {
    padding-left: 32px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #FDFDFD;
    margin-top: 0px;
    margin-bottom: 0px;


}

.about_text {
    width: 316px;
    margin: 0 auto;


}

.about_card {
    padding-top: 28px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FDFDFD;




}

.card1:hover .cards1 {
    height: 100%;
}

.reyting {
    position: absolute;
    right: 0;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price_card {
    display: flex;
    float: right;
    padding-right: 32px;
    padding-top: 5px;

}

.button_card-pic {
    width: 176px;
    height: 44px;
    top: 436px;
    left: 32px;
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
    border: none;
    color: #FDFDFD;
    background-color: #1A3E3E;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-top: 100px;
}

.button_card-pic:hover {
    background-color: white;
    color: #1A3E3E;
    border: 1px solid #1A3E3E;
    transition: all .3s;
}

.button-pic {
    width: 244px;
    height: 52px;
    padding: 16px 36px 16px 36px;
    border-radius: 4px;
    background-color: #1A3E3E;
    border: none;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    font-family: "Nunito Sans", sans-serif;
    color: #FDFDFD;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.button-pic:hover {
    background-color: white;
    color: #1A3E3E;
    border: 1px solid #1A3E3E;
    transition: all .3s;
}

/*================================================3 block===========================================*/


/*================================================4 block===========================================*/
.wrapper {
    min-height: 1036px;
    margin: 0 auto;
    background-color: #F3F5F4;
}

.wrapper_main {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 53px;

}

.wrapper_text {
    text-align: center;
}

.text_wrapper {
    color: #F2BE22;
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;


}

.wrapper_title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    color: #18121E;
    margin-top: 0px;
    margin-bottom: 40px;


}

.wrapper_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 24px;

}

.wrapper_card1 {
    display: flex;
    width: 580px;
    height: 312px;
    border-radius: 10px;
    background-color: #FDFDFD;
}

.wrapper_card_tirle {
    width: 294px;
    height: 280px;
}

.wrapper_card_title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #18121E;
    margin-top: 32px;
    margin-bottom: 24px;
    transition: all .1s;
    cursor: pointer;

}

.wrapper_card_title:hover {
    color: #1A3E3E;
    text-decoration: underline;
}

.text_wrapper_card {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #18121E;


}

.foto_wrapper_card1 {
    padding: 16px 24px 16px 16px;
}

.wrapper_time {
    display: flex;
    align-items: center;
    padding-top: 32px;
    justify-content: space-between;
}

.wrapper_time1 {
    display: flex;
    align-items: center;
    padding-top: 42px;
    justify-content: space-between;
}

.wrapper_time2 {
    display: flex;
    align-items: center;
    padding-top: 125px;
    justify-content: space-between;

}


.text_time1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    color: #1A3E3E;
    transition: all .1s;

}

.text_time1:hover {
    text-decoration: underline;
}

.text_time {
    color: #F2BE22;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.button_wrapper_text {
    width: 220px;
    height: 52px;
    padding: 16px 36px 16px 36px;
    border-radius: 4px;
    background-color: #1A3E3E;
    border: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FDFDFD;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;


}

.button_wrapper_text:hover {
    background-color: white;
    color: #1A3E3E;
    border: 1px solid #1A3E3E;
    transition: all .3s;

}

/*================================================4 block===========================================*/


/*================================================5 block===========================================*/
.galerea_content_main {
    margin: 0 auto;
    min-height: 735px;

}

.galerea_item_content {
    max-width: 1180px;
    margin: 0 auto;
}

.galerea_item {
    padding-top: 80px;
}

.galerea_text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #F2BE22;
    margin: 0 auto;
    padding-right: 21px
}

.galerea_title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    text-align: center;
    color: #18121E;
    margin-top: 9px;
    margin-right: 17px;
    margin-bottom: 38px;


}

.galerea_item_main {
    width: 1180px;
    height: 520px;
    margin: 0 auto;
}

.galerea_main1 {
    display: grid;
    grid-auto-rows: 3fr;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 50px;
    gap: 20px;
    position: relative;
}

.item1 {
    grid-column: 6 span;
    position: relative;
}

.item2 {
    grid-column: 3 span;

    position: relative;
}

.item3 {
    grid-column: 3 span;
    position: relative;
}

.item4 {
    grid-column: 3 span;
    position: relative;
}

.item5 {
    grid-column: 6 span;
    position: relative;
}

.item6 {
    grid-column: 3 span;
    position: relative;
}

.btn {
    display: block;
    margin: 0 auto;
    width: 178px;
    height: 52px;
    padding: 16px 36px 16px 36px;
    border-radius: 4px;
    border: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #1A3E3E;
    color: #FDFDFD;
    cursor: pointer;
    margin-top: 50px;

}

.btn:hover {
    background-color: white;
    color: #1A3E3E;
    border: 1px solid #1A3E3E;
    transition: all .3s;
}

/*================================================5 block===========================================*/



/*================================================6 block===========================================*/


.section_conteiner {
    max-width: 1180px;
    margin: 0 auto;
    background-color: #FDFDFD;
    box-shadow: 0px 0px 15px 0px #18121E1F;
    margin-top: 100px;

}

.section_content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    margin-bottom: -96px;
    border-radius: 6px;
    padding: 40px 100px;
    box-shadow: 0 0 15px 0 rgba(24, 18, 30, .12);
    background: #fdfdfd;
    gap: 15px;

}

.section_conten_main {
    flex: 0 1 380px;

}

.section_text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: #F2BE22;
    margin: 0;
    margin-bottom: 1px;

}

.section_title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 26px;
    font-weight: 800;
    color: #18121E;
    margin: 0;

}


.form_title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #18121E;
    margin-left: 5px;
    margin-top: 1px;
    margin-bottom: 7px;

}

.form_email {
    margin-bottom: 10px;

}

.btn_form {
    width: 240px;
    height: 44px;
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
    border: none;
    background-color: #1A3E3E;
    color: #FDFDFD;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-left: 15px;



}

.btn_form:hover {
    background-color: white;
    color: #1A3E3E;
    border: 1px solid #1A3E3E;
    transition: all .3s;
}

.form_text_section {
    padding-left: 2px;
}

.text_form {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: #18121E;
    width: 536px;
    margin: 0;

}

.text_span_form {
    text-decoration: underline;
}

.form_section_email {
    width: 280px;
    height: 44px;
    padding: 0px 16px 0px 16px;
    border-radius: 4px;
    background-color: #F3F5F4;
    border: none;

}

/*================================================6 block===========================================*/



/*================================================Main rules=========================================*/


/*================================================Footer rules=========================================*/

.footer_section {
    background-color: #1A3E3E;
    margin: 0 auto;
    min-height: 584px;
    padding-top: 159px;
}

.footer_main {
    margin: 0 auto;
    max-width: 1180px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.footer_content_item {
    max-width: 430px;
    flex: 1;

}

.footer_title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #F3F5F4;
    margin-top: 17px;
    margin-bottom: 17px;

}

.footer_text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 79px;

}

.footer_info {
    display: flex;
    gap: 25px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: underline;



}

.info_email {
    color: #FFFFFF;
    transition: all .1s;


}

.info_email:hover {
    color: #F2BE22;
    text-decoration: underline;

}

.info_tel {
    color: #FFFFFF;
    transition: all .1s;
}

.info_tel:hover {
    color: #F2BE22;
    text-decoration: underline;
}

.footer_icons_items {
    margin-top: 32px;
    display: flex;
    gap: 16px;
}

.path_footer {
    transition: all .1s
}

.path_footer:hover {
    fill: #F2BE22;
}

.footer_content-2 {
    max-width: 280px;
    flex: 1;


}


.footer_menu_title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #F3F5F4;
    margin-top: 17px;
    margin-bottom: 20px;

}

.item_menu_footers {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #FDFDFD;
    text-decoration: none;
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding-bottom: 16px;


}

.menu_section_footer {
    padding-left: 0px;
}

.item_menu_footers:hover .item_menu_footers {
    fill: #F2BE22;
}

.item_menu_footers:hover {
    color: #F2BE22;
    text-decoration: underline;
}

.footer_content_item_12 {
    float: right;
    background-position: right center;
    padding-left: 18px;
}


.footer_content-3 {
    max-width: 280px;
    flex: 1;
}

.footer_menu_title_item {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #F3F5F4;
    margin-top: 17px;
    margin-bottom: 20px;
}

.menu_section_footer_item {
    padding-left: 2px;
}

.item_menu_footers_item {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #FDFDFD;
    text-decoration: none;
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding-bottom: 16px;
}

.item_menu_footers_item:hover .item_menu_footers_item {
    fill: #F2BE22;
}

.item_menu_footers_item:hover {
    color: #F2BE22;
    text-decoration: underline;
}

.footer_bottom {
    margin: 0 auto;
    min-height: 66px;
    margin-top: 76px;
    background-color: #18121E;
}

.footer_conteiner {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.text_footer_main_section {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: underline;
    padding-top: 26px;
    transition: all .1s;
}

.text_footer_main_section:hover {
    color: #F2BE22;

}


/*================================================Footer rules=========================================*/